@use '../utils/' as utils; 

.app-showcase {
  &__title {
    @include utils.fluid-size(1.5rem, 2rem);
    background-color: var(--clr-neutral-1000);
    padding-block: 30px;
    text-align: center;
  }

  &__cards, &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__cards {
    margin-block: 40px;
  }

  &__card {
    flex-direction: column;
    max-width: 350px;
  }

  &__card-title {
    @include utils.fluid-size(1rem, 1.25rem);
    font-family: var(--ff-primary);
    color: var(--clr-base-300);
  }

  &__card-description {
    text-align: center;
  }
}
