@use '../utils/' as utils;

.footer {
  background-color: var(--clr-neutral-1000);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: utils.pxToRem(18);
  }

  nav {
    --gap: 10px 50px;

    display: inherit;
    gap: var(--gap);
  }

  &__nav-list {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);

    a {
      color: var(--clr-neutral-0);
      transition: color var(--transition-time-regular);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 1.25rem;
      color: var(--clr-base-450);
      border-radius: 50%;
      transition: box-shadow var(--transition-time-fast);

      &:hover {
        box-shadow: 0 0 15px 2px var(--clr-base-500);
      }
    }

    &.social {
      align-items: center;
    }

    &.apps {
      margin-left: 15px;
      gap: 10px;
    }
  }

  &__social {
    display: inherit;
    gap: 15px;

    a {
      color: var(--clr-base-450);
      transition: color var(--transition-time-regular);

      &:hover {
        color: var(--clr-base-400);
      }
    }
  }

  &__copyright {
    text-align: center;
    font-size: 1.125rem;

    span {
      color: var(--clr-base-400);
      font-weight: var(--fw-bold);
    }
  }
}
