// -------------- Main palette map ----------------
$palette-map: (
    base: (
      100: var(--clr-red-100),
      200: var(--clr-red-200),
      300: var(--clr-red-300),
      400: var(--clr-red-400),
      450: var(--clr-red-450),
      500: var(--clr-red-500),
      600: var(--clr-red-600),
      700: var(--clr-red-700),
      800: var(--clr-red-800),
      900: var(--clr-red-900),
    ),

    neutral: (
      0: hsl(0, 0%, 100%),
      100: hsl(0, 0%, 90%),
      200: hsl(0, 0%, 80%),
      300: hsl(0, 0%, 70%),
      400: hsl(0, 0%, 60%),
      500: hsl(0, 0%, 50%),
      600: hsl(0, 0%, 40%),
      700: hsl(0, 0%, 30%),
      800: hsl(0, 0%, 20%),
      900: hsl(0, 0%, 10%),
      1000: hsl(0, 0%, 0%),
    ),

    'red': (
      100: hsl(0, 100%, 90%),
      200: hsl(0, 100%, 80%),
      300: hsl(0, 100%, 70%),
      400: hsl(0, 100%, 60%),
      450: hsl(0, 100%, 55%),
      500: hsl(0, 100%, 50%),
      600: hsl(0, 100%, 40%),
      700: hsl(0, 100%, 30%),
      800: hsl(0, 100%, 20%),
      900: hsl(0, 100%, 10%),
    ),
);
// ------------------------------------------------


// ------------- Alpha palette map ----------------
$palette-alpha-map: (
  neutral: (
    1000: (
      100: hsla(0, 0%, 0%, 0.9),
      200: hsla(0, 0%, 0%, 0.8),
      300: hsla(0, 0%, 0%, 0.7),
      400: hsla(0, 0%, 0%, 0.6),
      500: hsla(0, 0%, 0%, 0.5),
      600: hsla(0, 0%, 0%, 0.4),
      700: hsla(0, 0%, 0%, 0.3),
      800: hsla(0, 0%, 0%, 0.2),
      900: hsla(0, 0%, 0%, 0.1),
    ),
  ),
);
// ------------------------------------------------