---
// Components
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/global/pt/Header";
import Hero from "../../components/home/pt/Hero";
import AppShowcase from "../../components/home/pt/AppShowcase";
import Footer from "../../components/global/pt/Footer";

// Styles
import "../../styles/main.scss";
---

<Layout title="Início · Bibliolabs">
  <Header client:load />

  <main>
    <Hero />
    <AppShowcase />
  </main>

  <Footer />
</Layout>
