---
// Components
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/global/pt/Header";
import Footer from "../../components/global/pt/Footer";

// Styles
import "../../styles/main.scss";
---

<Layout title="Política de Privacidade · Bibliolabs">
  <Header client:load />

  <main>
    <section class="privacy | wrapper">
      <h1 class="privacy__title">Política de Privacidade</h1>
      <p class="privacy__date">
        <strong>Última Atualização:</strong> 27 de dezembro, 2024
      </p>

      <p><strong>Bem-vindo(a) ao Bibliolabs!</strong></p>
      <p>
        Obrigado(a) por escolher a Bibliolabs ("nós", "nosso")! Valorizamos a sua
        privacidade, portanto, esta Política de Privacidade explica como
        coletamos, usamos, divulgamos e protegemos suas informações ao usar nosso
        aplicativo, site ou serviços relacionados (coletivamente, os
        "Serviços").
      </p>

      <h2>1. Informações que coletamos</h2>

      <p>
        Coletamos os seguintes tipos de informações para prover e melhorar
        nossos Serviços:
      </p>

      <h3>1.1. Informações pessoais que você fornece:</h3>
      <ul>
        <li>
          Nome, endereço de e-mail e outros detalhes de conta quando você se
          cadastra;
        </li>

        <li>
          Preferências, listas de leituras, revisões e outros conteúdos que você
          cria;
        </li>

        <li>
          Informações de pagamentos para compras ou inscrições (processadas com
          segurança por provedores terceiros);
        </li>
      </ul>

      <h3>1.2. Informações coletadas automaticamente:</h3>
      <ul>
        <li>
          Informações do dispositivo, como endereço IP, sistema operacional e
          tipo de dispositivo;
        </li>

        <li>
          Uso de dados, incluindo tempo gasto no app, páginas lidas e registros
          de interação;
        </li>

        <li>
          Cookies e tecnologias similares para rastrear atividade e melhorar a
          experiência do usuário;
        </li>
      </ul>

      <h3>1.3. Informações de terceiros:</h3>
      <ul>
        <li>
          Dados de serviços integrados como Google, Apple ou Facebook, se você escolher fazer login usando essas plataformas;
        </li>
      </ul>

      <h2>2. Como utilizamos suas informações</h2>

      <p>
        Usamos suas informações para fins que incluem, mas não se limitam a:
      </p>
      <ul>
        <li>
          Fornecer acesso e melhorar nossos Serviços;
        </li>

        <li>
          Personalizar recomendações de conteúdo com base em suas preferências;
        </li>

        <li>
          Comunicar-se com você sobre atualizações, ofertas e suporte ao
          cliente;
        </li>

        <li>
          Garantir a segurança e detectar atividades fraudulentas ou não
          autorizadas;
        </li>

        <li>Cumprimento de obrigações legais;</li>
      </ul>

      <h2>3. Compartilhando suas informações</h2>

      <p>
        Não vendemos suas informações pessoais. No entanto, podemos compartilhar
        suas informações com:
      </p>

      <ul>
        <li>
          <strong>Provedores de serviços:</strong> Empresas que nos ajudam a operar
          nossos Serviços, como processadores de pagamento ou provedores de armazenamento
          em nuvem;
        </li>

        <li>
          <strong>Parceiros de negócios:</strong> Parceiros que oferecem promoções
          ou serviços de marca conjunta;
        </li>

        <li>
          <strong>Autoridades legais:</strong> Quando necessário para cumprir as
          normas legais ou fazer cumprir nossos termos;
        </li>
      </ul>

      <h2>4. Suas escolhas</h2>

      <p>Você tem controle sobre suas informações:</p>

      <ul>
        <li>
          <strong>Acesso e atualização:</strong> Editar os detalhes do seu perfil
          e da conta a qualquer momento;
        </li>

        <li>
          <strong>Optar por não participar:</strong> Cancelar a assinatura de e-mails
          promocionais através do <i>link</i> fornecido no e-mail;
        </li>

        <li>
          <strong>Excluir conta:</strong> Solicitar a exclusão de sua conta e dados
          entrando em contato com o suporte em <a
            href="mailto:bibliolabsofficial@gmail.com"
            >bibliolabsofficial@gmail.com</a
          > ou manualmente nas configurações;
        </li>

        <li>
          <strong>Desabilitar conta:</strong> Solicitar o bloqueio de sua conta, sem precisar excluí-la permanentemente;
        </li>

        <li>
          <strong>Cookies:</strong> Gerenciar as preferências de cookies através
          das configurações do seu navegador;
        </li>
      </ul>

      <h2>5. Segurança de dados</h2>

      <p>
        Nós implementamos medidas de segurança razoáveis para proteger suas
        informações de acesso, uso, ou divulgação não autorizada. No entanto,
        nenhum método de transmissão pela internet é completamente seguro, e não
        podemos garantir segurança absoluta.
      </p>

      <h2>6. Links de terceiros</h2>

      <p>
        Nossos Serviços podem conter <i>links</i> para <i>sites</i> ou serviços de terceiros.
        Nós não somos responsáveis pelas práticas de privacidade deles, portanto
        recomendamos que verifique suas políticas.
      </p>

      <h2>7. Privacidade de crianças e menores</h2>

      <p>
        Nossos serviços são destinados a usuários em geral. Contudo, reconhecemos a importância de proteger a privacidade de crianças (menores de 13 anos, ou idade equivalente com base na sua jurisdição) e de garantir que o uso seja supervisionado pelos responsáveis legais.
      </p>

      <p>
Se você for pai, mãe ou responsável legal, recomendamos que supervisione o uso do <i>app</i> Bibliophile ou nosso <i>website</i> por crianças. Não coletamos intencionalmente informações pessoais de crianças sem o consentimento dos pais ou responsáveis. Além disso, menores de 18 anos (ou idade equivalente na sua jurisdição) necessitam de permissão dos pais ou responsáveis legais para utilizarem nossos Serviços.
      </p>

      <p>
Caso você acredite que uma criança forneceu informações pessoais sem a devida supervisão, entre em contato conosco imediatamente pelo nosso <a href="#suporte">suporte</a> para que possamos tomar as medidas apropriadas, incluindo a exclusão dessas informações, conforme necessário.
      </p>

      <h2>8. Mudanças nesta política</h2>

      <p>
        Podemos atualizar esta Política de Privacidade de tempos em tempos para refletir alterações em nossos serviços, como também mudanças em certas jurisdições.
        Iremos notificá-lo de quaisquer alterações significativas, publicando a
        política atualizada em nosso <i>app</i> e <i>website</i> e, se aplicável, notificá-lo
        por e-mail.
      </p>

      <h2>9. Contate-nos</h2>

      <p>
        Se você tiver alguma dúvida sobre esta Política de Privacidade, nossas
        práticas de dados, além de sugestões ou críticas, entre em contato conosco:
      </p>

      <address id="suporte">
        Suporte Bibliolabs<br />
        Email: <a href="mailto:bibliolabsofficial@gmail.com"
          >bibliolabsofficial@gmail.com</a
        ><br />
      </address>

      <p>Obrigado por Confiar na Bibliolabs!</p>
    </section>
  </main>

  <Footer />
</Layout>
