---
// Components
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/global/pt/Header";
import Footer from "../../components/global/pt/Footer";

// Styles
import "../../styles/main.scss";
---

<Layout title="Termos de Uso · Bibliolabs">
  <Header client:load />

  <main>
    <section class="terms | wrapper">
      <h1 class="terms__title">Termos de Uso</h1>
      <p class="terms__date">
        <strong>Última atualização:</strong> 28 de Dezembro, 2024
      </p>

      <p><strong>Bem-vindo(a) à Bibliolabs!</strong></p>
      <p>
        Obrigado(a) por escolher a Bibliolabs ("nós", "nosso")! Esses Termos de Uso
        ("Termos") governam seu uso do nosso app, website e serviços relacionados
        (coletivamente, os "Serviços"). Ao acessar ou utilizar os Serviços, você
        concorda com estes Termos. Se você não concorda, por favor naõ utilize nossos.
        Serviços.
      </p>

      <h2>1. Elegibilidade</h2>

      <p>Ao usar nossos Serviços, você declara e garante que:</p>
      <ul>
        <li>
          Tem pelo menos 13 anos (ou idade equivalente com base na jurisdição do seu país);
        </li>

        <li>Tem capacidade legal de concordar com estes Termos;</li>

        <li>
          Seu uso dos Serviços está em conformidade com as leis e regulamentos aplicáveis;
        </li>
      </ul>

      <h2>2. Contas de usuário</h2>

      <h3>2.1 Cadastro:</h3>
      <p>
        Para acessar certas funcionalidades, você pode precisar criar uma conta. Você concorda em:
      </p>
      <ul>
        <li>
          Fornecer informações corretas, atuais e completas durante o cadastro;
        </li>

        <li>Manter as credenciais de sua conta segura;</li>

        <li>Notificar-nos imediatamente de qualquer uso não autorizado da sua conta;</li>
      </ul>

      <h3>2.2 Responsibilidade da conta:</h3>
      <p>
        Você é responsável por todas as atividades em sua conta. Não somos responsáveis
        por qualquer acesso não autorizado ou uso indevido de sua conta.
      </p>

      <h2>3. Use dos Serviços</h2>

      <h3>3.1 Uso permitido:</h3>

      <p>
        Você concorda em usar os Serviços apenas para fins legais e em conformidade
        com estes Termos.
      </p>

      <h3>3.2 Uso proibido:</h3>
      <p>Você não pode:</p>

      <ul>
        <li>Copiar, modificar ou distribuir nosso conteúdo sem autorização;</li>
        <li>Usar os Serviços para qualquer atividade ilegal ou prejudicial;</li>
        <li>Interferir ou interromper os Serviços, servidores ou redes;</li>
      </ul>

      <h2>4. Propriedade intelectual</h2>

      <h3>4.1 Titularidade:</h3>
      <p>
        Todo o conteúdo, marcas registradas, logotipos e outras propriedades intelectuais
        associadas aos nossos Serviços são de nossa propriedade ou de nossos licenciadores.
      </p>

      <h3>4.2 Licença:</h3>
      <p>
        Concedemos a você uma licença limitada, não exclusiva e intransferível para usar
        os Serviços para fins pessoais e não comerciais.
      </p>

      <h2>5. Conteúdo e contribuições</h2>

      <h3>5.1 Conteúdo do usuário:</h3>
      <p>
        Você pode criar, enviar ou compartilhar conteúdo ("Conteúdo de usuário")
        através dos Serviços. Ao fazer isso, você nos concede
        uma licença mundial, isenta de royalties e sublicenciável para usar, exibir,
        reproduzir e distribuir seu Conteúdo de Usuário.
      </p>

      <h3>5.2 Conteúdo proibido:</h3>
      <p>Você não pode postar ou compartilhar conteúdo que:</p>

      <ul>
        <li>Viola os direitos de outros;</li>
        <li>É ofensivo, abusivo ou prejudicial;</li>
        <li>Contém vírus ou código malicioso;</li>
      </ul>

      <h2>6. Compras e pagamentos</h2>

      <h3>6.1 Assinaturas e pagamentos:</h3>
      <p>
        Certos recursos podem exigir pagamento. Ao adquirir
        uma assinatura ou efetuar um pagamento, você concorda em::
      </p>

      <ul>
        <li>Pagar todas as taxas aplicáveis;</li>
        <li>Cumprir os termos do nosso processador de pagamentos terceirizado;</li>
      </ul>

      <h3>6.2 Reembolsos:</h3>
      <p>Reembolsos estão sujeitos à nossa Política de Reembolso, disponível [aqui/link].</p>

      <h2>7. Término do acesso</h2>

      <h3>7.1 Término por você:</h3>
      <p>Você pode parar de usar os Serviços ou excluir sua conta a qualquer momento.</p>

      <h3>7.2 Término por nós:</h3>
      <p>
        Podemos suspender ou encerrar seu acesso se você violar estes
        Termos ou se envolver em comportamento prejudicial;
      </p>

      <h2>8. Limitação de responsabilidade</h2>

      <p>
        Na extensão máxima permitida por lei, não somos responsáveis
        por quaisquer danos indiretos, incidentais ou consequenciais
        decorrentes do uso dos Serviços.
      </p>

      <h2>9. Mudanças nos Termos</h2>

      <p>
        Podemos atualizar estes Termos de Uso de tempos em tempos para
        refletir alterações em nossos Serviços, como também mudanças
        em certas jurisdições. Iremos notificá-lo de quaisquer alterações
        significativas, publicando os termos atualizados em nosso <i>app</i>
        e <i>website</i> e, se aplicável, notificá-lo
        por e-mail.
      </p>

      <h2>10. Contate-nos</h2>

      <p>
        Se você tiver alguma dúvida sobre estes Termos de Uso, além de
        sugestões ou críticas, entre em contato conosco:
      </p>

      <address>
        Suporte Bibliolabs<br />
        Email: <a href="mailto:bibliolabsofficial@gmail.com"
          >bibliolabsofficial@gmail.com</a
        ><br />
      </address>

      <p>Obrigado(a) por confiar na Bibliolabs!</p>
    </section>
  </main>

  <Footer />
</Layout>
