---
// Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/global/Header";
import Hero from "../components/home/Hero";
import AppShowcase from "../components/home/AppShowcase";
import Footer from "../components/global/Footer";

// Styles
import "../styles/main.scss";
---

<Layout title="Home · Bibliolabs">
  <Header client:load />

  <main>
    <Hero />
    <AppShowcase />
  </main>

  <Footer />
</Layout>
