---
// Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/react/Header";
import Hero from "../components/react/Hero";
import Footer from "../components/react/Footer";

// Styles
import "../styles/main.scss";
---

<Layout title="Bibliophile">
	<Header client:load />

	<main>
		<Hero />
	</main>
</Layout>

<Footer />