.not-found {
  min-height: 80vh; // Fallback for browsers that don't support svh

  min-height: 80svh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: var(--ff-primary);
    color: var(--clr-base-400);
    letter-spacing: 5px;
  }
}
