@use '../../utils/' as utils;

.hero {
  min-height: 100vh; // Fallback for browsers that don't support svh

  min-height: 100svh;
  background-image: url('../../../images/the-art-of-war.jpg');
  background-size: cover;
  background-position: 42%;
  position: relative;

  &__img {
    background-position:left;
    width: 100%;
    min-height: inherit;
    object-fit: cover;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    max-width: 400px;
    padding: 10px 20px;
    background-color: var(--clr-neutral-1000-alpha-400);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 50%;
    transform: translateY(-50%);

    @media (max-width: 48rem) {
      width: 75%;
      left: 0;
      right: 0;
    }
  }

  &__title {
    @include utils.fluid-size(1rem, 1.5rem, font-size);
    font-family: var(--ff-primary);
    color: var(--clr-base-400);
  }

  &__subtitle {
    @include utils.fluid-size(0.9rem, 1.25rem, font-size);
  }

  &__description {
    @include utils.fluid-size(0.8rem, 1rem, font-size);
    color: var(--clr-neutral-200);
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-block: 10px;
  }

  &__btn {
    --txt-clr: var(--clr-base-400);
    padding: 5px 8px;
    border: var(--border-width-regular) var(--border-base-style) var(--clr-base-400);
    border-radius: 5px;
    font-weight: bold;
    transition: color var(--transition-time-regular), background-color var(--transition-time-regular);

    a {
      color: var(--txt-clr);
    }

    &:hover {
      --txt-clr: var(--clr-neutral-1000);
      background-color: var(--clr-base-400);
    }

    &:last-child {
      --txt-clr: var(--clr-neutral-0);
      border-color: var(--clr-neutral-0);

      &:hover {
        --txt-clr: var(--clr-neutral-1000);
        background-color: var(--clr-neutral-0);
      }
    }
  }

  @media (min-width: 48rem) {
    background-position: 25%;
  }
}
